*{
    padding: 0;
    margin:0;
}
label{
    display: block;
}
input[name='file']{
    display: none;
}
.upload-area{
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 60px;
    color:#999;
    cursor: pointer;
    border:1px solid #ededed;
}
